/build
/dist
/document-checker.py
/old
/structure.py
/Отчет_проверки_документов.xlsx
/Переводчик и поиск англа методичка.html
/Проверка документов 1.0.spec
/Проверка документов 1.1.spec
/Проверка документов 1.2.spec
/Проверка документов 1.3.spec
/Проверка документов 1.4.spec
/Проверка документов 1.5.spec
/Проверка документов 1.6.spec
/Проверка документов методичка.html
/Проверка документов.spec